
body{
    background-color: #182747;
    font-family: Able, Arial Narrow, Arial, sans-serif;
    font-size: 20px;
    color: #D8D8D8;
}
.menu_style {
    border: solid #D8D8D8;
    border-radius: 15rem;
    text-align: center;
    background-color: #C6EBC5;
    margin:0.3rem 1rem;
    }

h1 {
    font-size: 2rem;
}

.headshot {
    width: 100rem;
    border: .65rem solid #D8D8D8;
}

ul {
    line-height: 1rem;
    padding-left: 20px;
}

li {
    margin-bottom:.75rem;
    margin-top: .5rem;
    line-height: 1.15rem;
}

#menu_item {
    background-color: #182747;
    color: #D8D8D8;
    text-align: center;
    margin:0.3rem 1rem;
    font-size: 2em;
    border-top: solid #D8D8D8 .1em;
    border-bottom: solid #D8D8D8 .1em ;
}

#name_title {
    margin-top: 1em;
    text-align: center;
    font-size: 3em;
    text-decoration: underline wavy 3px;
    font-family: 'Able';

}

.paragraph_title {
    text-align: center;
    font-size: 2em;
    border: solid #D8D8D8 .01em;
    border-bottom: solid black .05em;
    font-family: 'Able';
    margin-bottom: 0%;
}
.index_paragraphs{
    font-family: Able;
    text-align: center;
    line-height: 1.2em;
    border: solid #D8D8D8 .05em;
    
}


a:link {
    
    color:#D8D8D8;
    font-family:Able;
    font-weight: bold;
}
a:visited, a:active {
    color: #D8D8D8;
    font-family:Able;
    font-weight: bold;
}
a:hover, a:focus {
    color:#932432;
    font-family:Able;
    text-decoration: underline;
    font-weight: bold;
}

#resume_title {
    line-height: 1.2em;
    text-align: right;
    font-size: .75em;
    font-family: Able;
}

.resume_header {
    border-bottom: .05em solid #C6EBC5;
    font-weight: bold;
    font-size: 2.5rem;
}

.page_title {
    font-size: 5rem;
    text-align: center;
    font-family: Able;
}

.projects_header {
    border-bottom: .05em solid #C6EBC5;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
}

/*
Forget Name: #e6e6e6

Bright Red: #DE354C 

Deep Red: #932432

Pure Purple: #3C1874

Purple Tinged Grey: #283747*/


/* #182747
#562B08
#647E68
#D8D8D8 */

